In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [2]:
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018]

In [3]:
def get_matches(year):
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    response = requests.get(web)
    content = response.text
    soup = BeautifulSoup(content, 'lxml')
    matches= soup.find_all('div',class_='footballbox')
    
    home=[]
    score=[]
    away=[]
    for match in matches:
        home.append(match.find('th',class_='fhome').get_text())
        score.append(match.find('th',class_='fscore').get_text())
        away.append(match.find('th',class_='faway').get_text())

    dict_football ={'Local': home,'Resultado': score,  'Visita': away}
    df_football=pd.DataFrame(dict_football)
    df_football['A単o']=year
    return df_football

In [4]:
FIFA =[get_matches(year) for year in years]
df_fifa= pd.concat(FIFA,ignore_index=True)
df_fifa.to_csv('fifa_worldcup_data.csv',index=False)

In [5]:
conteo = df_fifa.groupby(['A単o']).size().reset_index(name='conteo')
conteo

     A単o  conteo
0   1930      18
1   1934      17
2   1938      19
3   1950      22
4   1954      26
5   1958      35
6   1962      32
7   1966      32
8   1970      32
9   1974      38
10  1978      38
11  1982      52
12  1986      52
13  1990      16
14  1994      52
15  1998      64
16  2002      64
17  2006      64
18  2010      64
19  2014      64
20  2018      64